*{
	margin: 0;
	padding: 0;
}
body{}
section{
    width: 1200px;
    height: 800px;
    margin: 30px auto;
    background: aliceblue;
}
.row{
	
	height: 200px;
}
.col-1-3{
	    height: 100%;
	    float: left;
	    width: 33.33%;
	    padding: 5px;
	    box-sizing: border-box;
}
.col-1-1{
		height: 100%;
		float: left;
		width: 100%;
		padding: 5px;
		box-sizing: border-box;
}
.col-1-2{
		height: 100%;
		float: left;
		width: 50%;
		padding: 5px;
		box-sizing: border-box;
}
.col-2-3{
    width: 66.66%;
    height: 100%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}
.col-1-6{
    width: 16.66%;
    float: left;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}


.yellow{
    background: #ffd17a;
    height: 100%;
}
.green{
    background: #6aecbe;
    height: 100%;
}
.red{
    background: #f77482;
    height: 100%;
}

.purple{
    background: #d26cd2;
    height: 100%;
}
